@model ProjectSaloon.Models.Beautician

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beautician</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeauticianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeauticianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saloon_obj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saloon_obj.SaloonID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BeauticianID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
