@model ProjectSaloon.Models.Saloon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Saloon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaloonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaloonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaloonAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaloonAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SaloonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
